* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HOME PAGE STYLING */
body {
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

/* Nav Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    padding: 15px;
    position: relative;
}

a {
    color: #fff;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.navbar ul li {
    display: inline;
    list-style: none;
    margin-left: 30px;

}

.navbar li a:hover {
    color: coral;
}

/* Hero Section */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
        url(./images/showcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3.0em;
}

.hero h1 {
    font-size: 50px;
    font-weight: bold;
}

.enjoy {
    color: coral;
}

.hero a {
    background: #333;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 5px;
}

/* Info Section */
.info {
    display: flex;
    justify-content: space-evenly;
}

.info img {
    max-width: 720px;
    max-height: 410px;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.8em;
}

.history h3 {
    font-size: 25px;
    font-weight: bold;
}

.history span {
    color: coral;
}

.history p {
    text-align: center;
    margin: 10px 5px;
}

.history a {
    background: #f4f4f4;
    color: black;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 5px;
}

.amenities {
    background-color: #fff;
    display: flex;
}

.amenities div {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: black;
}

.amenities div:hover {
    background-color: coral;
}

.amenities h4 {
    margin-bottom: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    margin-top: 0;
}


/* ABOUT PAGE STYLING */

.aboutpage {
    max-height: 100vh;
}

.content2 {
    background-color: #fff;
    color: #000;
}

.about2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image2 img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15px;
}

.info2 {
    padding: 0 10px;
    line-height: 1.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: ;
}

.info2 h1 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 40px;
}

.info2 p {
    margin-top: 30px;
}

.info2 span {
    color: coral;
}


/* Testimonial Styling */

.testimonials {
    background-image: url(./images/outside.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
}

.guests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guest1 img,
.guest2 img {
    width: 350px;
    height: 150px;
    border-radius: 50%;
    padding-right: 20px;
    
}

.testimonials h2 {
    text-align: center;
    margin: 50px;
    color: #fff;
    font-size: 35px;
}

.guest1 div,
.guest2 div {
    border: 2px solid red;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: coral;
    padding: 10px;
}

.guest1, .guest2 {
    margin-bottom: 50px;
}


/* CONTACT PAGE STYLING */

.contact-section {
    background-color: #fff;
    padding: 40px 0;
}

.contact-section h1 {
    text-align: center;
    color: black;
}

.border {
    width: 100px;
    height: 10px;
    background: coral;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
}

.contact-form-text{
    display: block;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    width: 100%;
    margin: 20px 0;
    padding: 20px 40px;
}

.contact-form-btn{
    border: 0;
    background: coral;
    color: #fff;
    padding: 12px 50px;
    border-radius: 15px;
    cursor: pointer;
}

.contact-form-btn:hover{
    background-color: #de4d45;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    margin-top: 0;
}